/bower_components/
/node_modules/
/.pulp-cache/
/output/
/output-es/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/output-es/
packages.json
.venv
/test-results/
/test/test.js
/test/.spago
/test/output/
__pycache__
.vscode
codegen/cache