/bower_components/
/node_modules/
/.pulp-cache/
/output/
/output-es/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/output-es/
/examples/docs/Examples.js
/examples/docs/Examples.purs
/examples/**/index.js
/examples/**/bundle.js
/examples/**/main.js
/examples/**/make.mjs
/examples/**/config.json
/examples/docs/Static/**.html
packages.json
.venv
/test-results/
/test/test.js
/test/.spago
/test/output/
__pycache__
.vscode