name: Publish sample
on: push
jobs:
  container-job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm ci
      - name: Spago install
        run: npx spago -x test.dhall install
      - name: Spago build
        run: npx spago -x test.dhall build
      - name: Spago build examples
        run: npx spago -x examples.dhall build
      - name: Spago test
        run: npx spago -x test.dhall test
      - name: Build qc
        run: npx spago -x examples.dhall bundle-app --main Deku.Example.HelloWorld --to examples/hello-world/index.js
      - name: Performance test
        run: npm run test:performance
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          publish_dir: ./examples/hello-world